# Pacific Dataset / Natural Disasters Category, DSA-B3-Team-13

In [ ]:
# Importing Python libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Reading Dataset CSV file pacific on Python Environment.

In [4]:
pacific = pd.read_csv('pacific.csv')

In [6]:
pacific.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

# Finding Information about data types, number of Columns & Rows

In [8]:
pacific.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26137 entries, 0 to 26136
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                26137 non-null  object
 1   Name              26137 non-null  object
 2   Date              26137 non-null  int64
 3   Time              26137 non-null  int64
 4   Event             26137 non-null  object
 5   Status            26137 non-null  object
 6   Latitude          26137 non-null  object
 7   Longitude         26137 non-null  object
 8   Maximum Wind      26137 non-null  int64
 9   Minimum Pressure  26137 non-null  int64
 10  Low Wind NE       26137 non-null  int64
 11  Low Wind SE       26137 non-null  int64
 12  Low Wind SW       26137 non-null  int64
 13  Low Wind NW       26137 non-null  int64
 14  Moderate Wind NE  26137 non-null  int64
 15  Moderate Wind SE  26137 non-null  int64
 16  Moderate Wind SW  26137 non-null  int64
 17  Moderate Wind NW  26137 non-null  int64
 18  High Wind NE      26137 non-null  int64
 19  High Wind SE      26137 non-null  int64
 20  High Wind SW      26137 non-null  int64
 21  High Wind NW      26137 non-null  int64
dtypes: int64(16), object(6)
memory usage: 4.4+ MB

# Descriptive Statistics

In [ ]:
# By assigning include attribute a value of â€˜allâ€™, we make sure that categorical features are also included in the result.
# The output DataFrame should look like this:

In [9]:
pacific.describe(include='all')

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
count,26137,26137,2.613700e+04,26137.000000,26137,26137,26137,26137,26137.000000,26137.000000,...,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000,26137.000000
unique,1050,267,NaN,NaN,5,12,371,1190,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EP101994,UNNAMED,NaN,NaN,,TS,16.0N,110.0W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,121,2180,NaN,NaN,26035,10076,337,135,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.988908e+07,896.050427,NaN,NaN,NaN,NaN,48.949344,18.176225,...,-748.290929,-746.320542,-751.604622,-752.094923,-752.701917,-752.102957,-753.584382,-753.787160,-754.046945,-753.774534
std,NaN,NaN,1.688455e+05,672.008065,NaN,NaN,NaN,NaN,25.334450,996.896388,...,441.232953,444.939111,435.198872,434.303796,433.202389,434.291049,431.605766,431.239618,430.773515,431.263235
min,NaN,NaN,1.949061e+07,0.000000,NaN,NaN,NaN,NaN,10.000000,-999.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,NaN,NaN,1.976081e+07,0.000000,NaN,NaN,NaN,NaN,30.000000,-999.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
50%,NaN,NaN,1.990081e+07,600.000000,NaN,NaN,NaN,NaN,45.000000,941.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
75%,NaN,NaN,2.003092e+07,1200.000000,NaN,NaN,NaN,NaN,65.000000,1002.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
max,NaN,NaN,2.015113e+07,2300.000000,NaN,NaN,NaN,NaN,185.000000,1021.000000,...,180.000000,1180.000000,150.000000,150.000000,105.000000,150.000000,100.000000,75.000000,75.000000,100.000000

In [ ]:
# For numerical parameters, fields like mean, standard deviation, percentiles, and maximum have been populated.
#For categorical features, count, unique, top (most frequent value), and corresponding frequency have been populated. 
#This gives us a broad idea of our dataset.

# Missing value Imputation

In [ ]:
# Need to check for missing values in our dataset. 
#In case there are any missing entries, Need to impute them with appropriate values; 
#(mode in case of categorical feature, and median or mean in case of numerical feature).
# use the isnull() function for this purpose.

In [10]:
pacific.isnull().sum()

ID                  0
Name                0
Date                0
Time                0
Event               0
Status              0
Latitude            0
Longitude           0
Maximum Wind        0
Minimum Pressure    0
Low Wind NE         0
Low Wind SE         0
Low Wind SW         0
Low Wind NW         0
Moderate Wind NE    0
Moderate Wind SE    0
Moderate Wind SW    0
Moderate Wind NW    0
High Wind NE        0
High Wind SE        0
High Wind SW        0
High Wind NW        0
dtype: int64

In [ ]:
# Findings: Dataset recieved is already filled some values in vacant places,thatswhy;
# There is no null / missing values in Dataset.
# Need to discuss about; whether to exclude features/columns to improve the accuracy of  further Data Analysis & visualizations
# Expert opinions & actions required for further proceedings